body 
{
	margin:0;
	padding-top: 200px;
	font:13px/16px "Lucida Grande", Tahoma, Arial, Sans-serif;
	color:#ffffff;
	background-color:#043e54;
}
a:link 
{	
	text-decoration: none; 
	color: #336699;
}

a:visited 
{
	text-decoration: none; 
	color: #336699;
}

a:active 
{
	text-decoration: none; 
	color: #336699;
}

a:hover 
{
	text-decoration: underline; 
	color: #000;
}
#container
{
	margin: 0 auto;
	width: 300px;
	border: solid 2px #fff;
	background-color: #dadada;
}

#title
{
	height: 20px;
	background-color: #0097cc;
	color: #ffffff;
	padding: 5px;
}

#msg
{
	padding: 15px 5px 5px 5px;
	text-align: center;
	color: #000;
}

#button
{
	padding: 15px 5px 15px 5px;
	text-align: center;
}
