.classicInput
{
	width: 100%;
	border: 1px solid #cdcdcd;
	background-color: #f2f2f2;
	color: #000;
	font-size: 16px;
	height: 30px;
	-moz-border-radius: 5px;
	border-radius: 5px;	
	outline: none;
}

.buttonHoler
{
	text-align: right;
	padding-top: 22px;
}

.classicLegend
{
	font-weight: bold;
}

.publicLegendWrapper
{
	font-weight: bold;
	float: left;
	margin: 10px 5px 0px 0px;
	width: 120px;
	vertical-align: top;
	font-size: 14px;
	white-space: nowrap;
}
.publicDataWrapper
{
	float: left;
	margin: 10px 0px 0px 0px;	
	width: 350px;
	vertical-align: top;
	word-break: break-word;
	font-size: 14px;
}
.cleaner
{
	clear: both;
}